---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/cfexampleapi/environments/master/assets/nyancat
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful.rb/2.8.0; integration contentful_model/0.2.0; platform ruby/2.5.1;
        os macOS/16;
      Authorization:
      - Bearer b4c0n73n7fu1
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - '"76ae8ac30f768396e31d8dd8eb35046a"'
      X-Contentful-Request-Id:
      - 1378152364172414a2c3c8f3ebffccce
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "cfexampleapi"
              }
            },
            "id": "nyancat",
            "type": "Asset",
            "createdAt": "2013-09-02T14:56:34.240Z",
            "updatedAt": "2013-09-02T14:56:34.240Z",
            "environment": {
              "sys": {
                "id": "master",
                "type": "Link",
                "linkType": "Environment"
              }
            },
            "revision": 1,
            "locale": "en-US"
          },
          "fields": {
            "title": "Nyan Cat",
            "file": {
              "url": "//images.ctfassets.net/cfexampleapi/4gp6taAwW4CmSgumq2ekUm/9da0cd1936871b8d72343e895a00d611/Nyan_cat_250px_frame.png",
              "details": {
                "size": 12273,
                "image": {
                  "width": 250,
                  "height": 250
                }
              },
              "fileName": "Nyan_cat_250px_frame.png",
              "contentType": "image/png"
            }
          }
        }
  recorded_at: Fri, 27 Apr 2018 12:30:06 GMT
recorded_with: VCR 4.0.0
