---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/a22o2qgm356c/environments/master/entries?content_type=modelWithEmpty&sys.id=JwGJyMyZQ44QWmWGS6sSy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful.rb/2.6.0; integration contentful_model/0.2.0; platform ruby/2.5.1;
        os macOS/16;
      Authorization:
      - Bearer 60229df5876f14f499870d0d26f37b1323764ed637289353a5f74a5ea190c214
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - '"bc33d902cabfe3d9b1233760ab8dc349"'
      X-Contentful-Request-Id:
      - 521f0fe54962ad82410df276ae5b9fc2
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 1,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "a22o2qgm356c"
                  }
                },
                "id": "JwGJyMyZQ44QWmWGS6sSy",
                "type": "Entry",
                "createdAt": "2018-04-26T09:06:26.947Z",
                "updatedAt": "2018-04-26T09:06:26.947Z",
                "environment": {
                  "sys": {
                    "id": "master",
                    "type": "Link",
                    "linkType": "Environment"
                  }
                },
                "revision": 1,
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "modelWithEmpty"
                  }
                },
                "locale": "en-US"
              },
              "fields": {
                "name": "Doesn't Have Empty",
                "empty": "foo"
              }
            }
          ]
        }
  recorded_at: Thu, 26 Apr 2018 09:07:03 GMT
recorded_with: VCR 4.0.0
