---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/a22o2qgm356c/environments/master/entries?content_type=nested&include=2&sys.id=2pFubMJuVqMSisGeCmoqem
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful.rb/2.6.0; integration contentful_model/0.2.0; platform ruby/2.5.1;
        os macOS/16;
      Authorization:
      - Bearer 60229df5876f14f499870d0d26f37b1323764ed637289353a5f74a5ea190c214
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - '"6254facb7b3bbdd2ddd6c9457df7f7eb"'
      X-Contentful-Request-Id:
      - 39d5adf831ae63847c80a79ee3c933e6
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 1,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "a22o2qgm356c"
                  }
                },
                "id": "2pFubMJuVqMSisGeCmoqem",
                "type": "Entry",
                "createdAt": "2018-04-25T11:54:46.442Z",
                "updatedAt": "2018-04-25T11:54:46.442Z",
                "environment": {
                  "sys": {
                    "id": "master",
                    "type": "Link",
                    "linkType": "Environment"
                  }
                },
                "revision": 1,
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "nested"
                  }
                },
                "locale": "en-US"
              },
              "fields": {
                "name": "Nested 3"
              }
            }
          ]
        }
  recorded_at: Wed, 25 Apr 2018 14:06:42 GMT
recorded_with: VCR 4.0.0
